<p><%= flash[:warning] %></p>
<p id="notice"><%= notice %></p>

<h1 class="margin-bottom text-center">Topics</h1>

<div class="margin-bottom text-center">
  <%= link_to 'Add New Topic', new_topic_path %>
</div>

<%= @topics.inspect %>

<% @topics.each do |topic| %>
<div class="row">
  <div class="col-md-12">
    <div class="container title-box">
      <h3 class="margin-bottom"><%= topic.title %></h3>
      <h4>Description</h4>
      <li class="topic-description"><%= topic.description %></li>
        <%= link_to 'Show', topic %>
        <%= link_to 'Edit', edit_topic_path(topic) if current_user.admin? %>
        <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %>
    </div>
  </div>
</div>
<% end %>
<!--
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) if current_user.admin? %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %></td>
        <td>
          <%= link_to like_topic_path(topic), class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up flyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"> <%= topic.get_upvotes.size %> </span>
              </button>
          <%end%>
          <%= link_to unlike_topic_path(topic), class: "unlike", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-down flyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"> <%= topic.get_downvotes.size %> </span>
              </button>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
