<p><%= flash[:warning] %></p>
<p id="notice"><%= notice %></p>

<h1 class="margin-bottom text-center">Topics</h1>

<button type="button" class="btn btn-default active center-block"><%= link_to 'Add New Topic', new_topic_path, class: 'topic-btn'%></button>

<% @topics.each do |topic| %>
  <div class="row">
    <div class="container">
      <div class="col-md-2">
        <div class="vote-buttons">
          <%= link_to like_topic_path(topic), class: "like", method: :put do %>
          <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-up flyphicon-align-center" aria-hidden="true"></span>
            <span class="badge"> <%= topic.get_upvotes.size %> </span>
          </button>
          <%end%>
          <%= link_to unlike_topic_path(topic), class: "unlike", method: :put do %>
          <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-down flyphicon-align-center" aria-hidden="true"></span>
            <span class="badge"> <%= topic.get_downvotes.size %> </span>
          </button>
          <%end%>
        </div>
      </div>
      <div class="col-md-10">
        <div class="title-box">
          <h3 class="box-text margin-bottom"><%= topic.title %></h3>
          <h4 class="box-text">Description</h4>
          <li class="box-text topic-description"><%= topic.description %></li>
          <p class="text-right edit-buttons">
            <%= link_to 'Show', topic %>
            <%= link_to '| Edit |', edit_topic_path(topic) if current_user.admin? %>
            <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
