<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @topic.title %></td>
      <td><%= @topic.description %></td>
      <td><%= @topic.user.email %></td>
      <td><%= link_to 'Edit', edit_topic_path(@topic) %></td>
      <td><%= link_to 'Back', topics_path %></td>
    </tr>
  </tbody>
</table>
