<p id="notice"><%= notice %></p>


<h1><%= @topic.title %></h1>
<br>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Topic</th>
      <th>Title</th>
      <th>Important</th>
      <th>Use</th>
      <th>Content</th>
      <th>Web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user %></td>
        <td><%= post.topic %></td>
        <td><%= post.title %></td>
        <td><%= post.important %></td>
        <td><%= post.use %></td>
        <td><%= post.content %></td>
        <td><%= post.web %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>  
<%= link_to 'Back', topics_path %>
<%= link_to 'New Post', new_post_path %>
