<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Important:</strong>
  <%= @post.important %>
</p>

<p>
  <strong>Use:</strong>
  <%= @post.use %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Web:</strong>
  <%= @post.web %>
</p>

<%= link_to like_post_path(@post), class: "like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up flyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"> <%= @post.get_upvotes.size %> </span>
    </button>
  <%end%>
  <%= link_to unlike_post_path(@post), class: "unlike", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-down flyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"> <%= @post.get_downvotes.size %> </span>
      </button>
    <%end%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
