<p id="notice"><%= notice %></p>

<h3><%= @post.title %></h3>

<p>by
  <%= @post.user.email %>
</p>

<strong>Why is this important?</strong>
<br>
<div class="post-show">
  <%= @post.important %>
</div>

<br>

<strong>What is this used for?</strong>
<br>
<div class="post-show">
<%= @post.use %>
</div>

<br>

<strong>Information</strong>
<br>
<div class="post-show">
<%= @post.content %>
</div>

<br>

<strong>Web</strong>
<br>
<div class="post-show">
<%= @post.web %>
</div>

<%= link_to like_post_path(@post), class: "like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up flyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"> <%= @post.get_upvotes.size %> </span>
    </button>
  <%end%>
  <%= link_to unlike_post_path(@post), class: "unlike", method: :put do %>
      <button type="button" class="btn btn-info" aria-label="Left Align">
      <span class="glyphicon glyphicon-thumbs-down flyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"> <%= @post.get_downvotes.size %> </span>
      </button>
    <%end%>

<br>
<br>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> |
<%= link_to "Back", request.referer.present? ? request.referer : default_path, class: "btn btn-primary" %>
<!-- <%= link_to 'Back', topic_url %> | -->
